  <section class="wrapper container">

    <section class="breadcrumbs">
      Blog / All Posts
    </section>

    <h2 class="content__title">Example Title</h2>
    <h3 class="content__sub-title">Example of a subheading</h3>
  
    <%= link_to 'New Article', new_article_path, class: "btn btn-sm" %>

    <section class="content__cars">
      <div class="row"> 
      <% @articles.shuffle.each do |article| %>
        <div class="col-md-4 content__car">
          <div class="content__image">
            <%= image_tag article.image %>
            <div class="content__info">
              <div class="content_comments">
                <i class="fa fa-commenting"></i>
              </div>
              <div class="content__download">
                <i class="fa fa-cloud-download"></i>
              </div>
              <div class="content_email">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
          </div>
          <h3><%= link_to article.title, article_path(article) %></h3>
          <p><%= article.text %> <%= link_to 'Car news', article_path(article), class: "content__newslink" %>  </p>

          <div class="article-controls">
            <%= link_to 'Show', article_path(article), class: "btn" %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn" %>
            <%= button_to 'Destroy', article_path(article), class: "btn",
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </div>

        </div>
      <% end %>

      </div>
    </section>
  </section>