  <section class="content__cars">

    <div class="row"> 
      <div class="col-md-12 content__car">
        <div class="content__image">
          <%= image_tag @article.image %>
          <div class="content__info">
            <div class="content_comments">
              <i class="fa fa-commenting"></i>
            </div>
            <div class="content__download">
              <i class="fa fa-cloud-download"></i>
            </div>
            <div class="content_email">
              <i class="fa fa-envelope"></i>
            </div>
          </div>
        </div>
        <h3><%= @article.title %></h3>
        <p><%= @article.text %></p>

      </div>
    </div>


    <div class="row">
      <%= link_to 'Edit', edit_article_path(@article), class: "btn" %>
      <%= link_to 'Back', articles_path, class: "btn" %>
    </div>
</section>